.game-name {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: dodgerblue;
    background-color: #e9e6ff;
    border-radius: 5px 5px 0 0;
}

.hrfix {
    margin: 5px 0 !important;
}

.card-image {
    background-color: rgba(0, 0, 0, .1);
    padding: 5px 0;
}

.game-image {
    max-width: 200px;
    max-height: 250px;
}

.game-card-footer {
    background-color: #e9e6ff;
    border-radius: 0 0 5px 5px;
}
./*custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #caca4c;
}

.custom-control .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    background-color: #caca4c;
}

.form-group {
    margin-bottom: $form-group-margin-bottom;
}

.form-group {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 0;
}*/